@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #212428;
  min-height: 100vh;
  color: #212428;
}

.__biodata-page-contaner {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  height: 80vh;
}

.__biodata-section {
  width: 40vw;
  height: 60vh;
  background: white;
  border-radius: 20px;
}

.__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.__biodata-section .__img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #212428;
}

.__bio-de-container {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.__bio-de-container .__addrs-detail {
  padding: 12px;
  border: 2px dotted rgb(211, 208, 208);
  border-top: 0;
}

.__bio-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-left: 2px dotted rgb(211, 208, 208);
  border-top: 2px dotted rgb(211, 208, 208);
}

.__centered-bio {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.__main-bio {
  font-size: 14px;
  max-width: 30vw;
  text-align: center;
  font-weight: 500;
}

.__bio-detail p span,
.__bio-de-container p span {
  font-weight: 600;
}

.__bio-detail p {
  /* margin-top: 12px; */
  border-bottom: 2px dotted rgb(211, 208, 208);
  border-right: 2px dotted rgb(211, 208, 208);
  padding: 12px;
}
