@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.__layout {
  max-width: 1280px;
  margin: 0 auto;
}

/* ============================= footer section */
.__footer-section {
  margin-top: 50px;
}
.__footer-section .__footer-main-logo {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.__main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__list-sosmed-logo {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.__list-sosmed-logo img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.__list-footer-navigation {
  gap: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.__list-footer-navigation a {
  font-size: 12px;
  color: #767676;
}

.__sc-footer {
  padding-bottom: 12px;
}

.__sc-footer p {
  font-size: 12px;
  color: #b2b8bd;
  text-align: justify;
}

.__sc-footer p:nth-child(2),
.__sc-footer p:nth-child(3) {
  margin-top: 18px;
}

.__sc-footer hr {
  margin: 12px 0;
}

.__copyright-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__copyright-footer p {
  font-size: 12px;
  color: #767676;
}

/* ============================discover section */
.__discover-container h2 {
  color: #001a72;
  padding-bottom: 6px;
  margin-bottom: 20px;
  text-align: center;
}
.__dicover-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.__dicover-section .__discover-card {
  cursor: pointer;
  transition: all ease-in 0.1s;
  box-shadow: 0px 9px 1px 3px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 9px 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 9px 1px 3px rgba(0, 0, 0, 0.03);
}

.__dicover-section .__discover-card:hover {
  box-shadow: 2px 3px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 2px 3px 1px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 3px 1px 3px rgba(0, 0, 0, 0.16);
}
.__dicover-section .__discover-card:hover p:nth-child(2) {
  text-decoration: underline;
}

.__dicover-section .__discover-card img {
  width: 289px;
  height: 194px;
  margin-bottom: 40px;
}
.__dicover-section .__discover-card .__discover-detail-card {
  padding: 16px;
}

.__dicover-section .__discover-card .__discover-detail-card p:nth-child(1) {
  color: #808088;
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 4px;
}

.__dicover-section .__discover-card .__discover-detail-card p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  color: #001a72;
  margin-bottom: 20px;
  max-width: 250px;
  padding-right: 16px;
  min-height: 40px;
}
.__dicover-section .__discover-card .__discover-detail-card p:nth-child(3) {
  color: #808088;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 6px;
}

/* =============================main product */
.__main-product-container {
  margin-top: 50px;
}

.__main-product-container h2 {
  color: #001a72;
  border-bottom: 1px solid rgb(215, 215, 215);
  padding-bottom: 6px;
  margin-bottom: 20px;
}
.__product-list-container {
  display: flex;
  justify-content: space-between;
}
.__product-card {
  transition: all ease-in 0.2s;
  border: 1px solid white;
  padding: 6px;
  cursor: pointer;
}

.__product-card:hover {
  border: 1px solid rgb(215, 215, 215);
}

.__product-card img {
  width: 290px;
  height: 290px;
  margin-bottom: 60px;
}

.__product-detail p:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: #223341;
  margin-bottom: 4px;
}
.__product-detail p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  color: #001a72;
}
.__product-detail div:nth-child(3) {
  margin-top: 8px;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  gap: 2px;
}
.__product-detail div:nth-child(3) span {
  margin-left: 4px;
}
.__product-detail div:nth-child(3) img {
  width: 12px;
  height: 12px;
  margin-bottom: 0;
}
.__list-product-btn-see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.__list-product-btn-see-all button {
  padding: 18px 80px;
  font-size: 13px;
  background-color: #f0f0f3;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: 100px;
  color: #001a72;
  transition: all ease-in 0.1s;
}

.__list-product-btn-see-all button:hover {
  background-color: #e8eaeb;
}

/* ==============================branding */

.__branding-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.__branding-sec {
  max-width: 600px;
}

.__branding-container-title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 20px;
  color: #001a72;
}
.__branding-container-subtitle {
  color: #808088;
  font-size: 15px;
  text-align: justify;
}

/* ================ navbar */
.__nav-header {
  background-color: white;
}
.__navbar-sec {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}
.__navbar-container-logo {
  max-width: 98px;
  max-height: 40px;
}

.__language-change-button {
  display: flex;
  align-items: center;
}

.__image-indo-flag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 10px;
}

.__navigation-navbar {
  display: flex;
  gap: 20px;
}

.__navigation-navbar a {
  text-decoration: none;
  color: #808088;
  font-weight: 600;
}

.__navbar-cta-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.__navbar-search-btn {
  width: 25px;
  height: 25px;
}

/* ====================================== carrousel */
.__banner-item-carrousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 480px;
  position: relative;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

.__banner-item-carrousel-sec {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
  height: 100%;
}

.__banner-item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.__banner-item-carrousel-title {
  width: 400px;
}

.__banner-item-carrousel-subtitle {
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  line-height: 24px;
}

.__banner-item-carrousel-title h1 {
  color: white;
  font-weight: bold;
  font-size: 33px;
  margin-bottom: 15px;
  line-height: 48px;
}

.__banner-item-carrousel-btn {
  width: 251px;
  height: 44px;
  background: white;
  outline: none;
  border: none;
  font-size: 16px;
  color: #001a72;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  transition: all ease-in 0.2s;
}

.__banner-item-carrousel-btn:hover {
  background-color: #c00d1e;
  color: white;
}

.__carrousel-container {
  max-width: 100vw;
  margin: 0 auto;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 480px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #001a72;
  counter-increment: item;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: -35px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.1s;
  color: gray;
}

.carousel__navigation-button:hover {
  text-decoration: underline;
  color: #001a72;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 15%;
  width: 4rem;
  height: 6rem;
  transform: translateY(-50%);
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #e4e7eb;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
  display: none;
}

.__carrousel-container:hover .carousel::before {
  display: unset;
}
.__carrousel-container:hover .carousel::after {
  display: unset;
}

.carousel::before {
  background-image: url("./assets/prev.svg");
}

.carousel::after {
  background-image: url("./assets/next.svg");
}
